.stats {
  display: flex;
}

.stats li {
  display: flex;
  width: 200px;
  flex-direction: column;

  padding: 30px 5px;

  text-align: center;

  background-color: #ccc;
  border: 1px solid gray;
}

.stats li:first-child {
  border-bottom-left-radius: 5px;
}

.stats li:last-child {
  border-bottom-right-radius: 5px;
}

.label {
  font-weight: 500;
  padding: 10px;
}

.quantity {
  padding: 10px;
}
